@import "tailwindcss";

@theme {
  --color-primary: oklch(0.9591 0.0097 252.81);
  --color-secondary: oklch(0.4213 0.1779 272.17);
  --color-black: oklch(0.0969 0 0);
  --color-lightGray: oklch(0.9189 0 0);
  --color-gray: oklch(0.5631 0.0309 260.27);
  --color-brown: oklch(0.3584 0.0399 319.46);
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-start;
  }

  .flex-end {
    @apply flex justify-end items-end;
  }

  #home {
    @apply relative bg-[url(/assets/bgIMG.png)] bg-cover bg-center bg-repeat-y;
  }
}

.app {
  background-color: var(--color-primary);
  font-family: var(--font-dm-sans), sans-serif;
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--color-black);
  text-transform: capitalize;

  span {
    color: var(--color-secondary);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.7rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--color-gray);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--color-black);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}
