@import "tailwindcss";

@theme {
  --color-primary: oklch(0.9591 0.0097 252.81);
  --color-secondary: oklch(0.4213 0.1779 272.17);
  --color-black: oklch(0.0969 0 0);
  --color-lightGray: oklch(0.9189 0 0);
  --color-gray: oklch(0.5631 0.0309 260.27);
  --color-brown: oklch(0.3584 0.0399 319.46);
  --font-dm-sans: var(--font-dm-sans);
}

@layer base {
  body {
    @apply font-dm-sans bg-primary;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-start {
  @apply flex justify-start items-start;
}

@utility flex-end {
  @apply flex justify-end items-end;
}

@utility card-shadow {
  @apply shadow-lg shadow-gray-200;
}

@layer components {
  #home {
    @apply relative bg-[url(/assets/bgIMG.png)] bg-cover bg-center bg-repeat-y;
  }

  .head-text {
    @apply text-3xl font-extrabold text-center text-black capitalize sm:text-4xl min-[2000px]:text-6xl;

    span {
      @apply text-secondary;
    }
  }

  .p-text {
    @apply text-sm text-left text-gray leading-6 min-[2000px]:text-3xl;
  }

  .bold-text {
    @apply text-sm min-[2000px]:text-3xl text-left text-black font-extrabold sm:text-base;
  }
}
